body 
{
    margin: 0; /* убрать внешний отступ */
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.header ul 
{
    margin: 0; /*убрать отступ */
    padding: 0px; /*убрать отступ слева от списка*/
    /*list-style: none; убрать точки в списке*/
    background-color: rgb(0, 0, 0, 0.65);
}

.header li /*добавили header, чтобы это условие коснулось только списка в теге header*/
{
    display: inline; /*выравнить в одну строчку элементы списка*/
    margin-left: 60px; /*отступы между элементами списка*/
}

li:last-child 
{
    margin-right: 0; /*убрать отступ справа*/
}

.header /*не сам header, а класс header*/
{
    background-color: rgb(0, 0, 0); /*цвет фона в заголовке*/
    color: rgb(255, 255, 255); /*цвет текста*/
    padding: 20px 0;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-image: url(images/background.jpg);
    background-size: cover;
}

.main-menu a 
{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.main-menuu a 
{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: larger;
}

.footer 
{
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: 10px;
}

.container
{
    max-width: 100%;
    margin-left: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.avatar 
{
    height: 600px;
    width: 1000px;
    text-align: center;
    background-image: url(images/background1.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: left;
}

.avatar img 
{
    height: 100%;
}

.btn-white 
{
    color: white !important;/*импортант это значит что он главнее*/
    border-color: white !important; /*граница кнопки*/
}

.btn /* класс для оформления кнопко*/
{
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    transition: color 1s, border-color 1s;
}

.btn:hover /*класс для обозначения цвета кнопки при наведении курсора (hover)*/ 
{
    color: rgb(169, 82, 2);
    border-color: rgb(169, 82, 2);
}

table 
{
    border-collapse: collapse;
}

table,
th,
td 
{
    border: 1px solid black;
}

th,
td 
{
    padding: 5px;
    text-align: center;
}

.text-center 
{
    text-align: center;
}

.w-50 
{
    width: 50%;
}

.mx-auto 
{
    margin-left: auto;
    margin-right: auto;
}

h1
{
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
    background-color: rgb(0, 0, 0, 0.65);
}

p 
{
    font-size: 18px;
    width: 100%;
    text-align: justify;
    margin: 10px auto;
    margin-bottom: 20px;
}

h3 
{
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
}

.contour
{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
}

h4
{
    font-size: 25px;
    font-weight: bolder;
}

.center
{
    text-align: center;
}

ul
{
    font-size: 18px;
    width: 100%;
    text-align: justify;
    margin: 10px auto;
    margin-bottom: 20px;
}